- title t('.title')
.container
  .row
    .col-sm-4
      %h3= yield :title
      = render 'search'
      #error.alert.alert-error
    .col-sm-8
      #index-itineraries-map.google-maps
      .spacer
      #itineraries-thumbs
