!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      =t(".hello", username: @user.email)
    %p
      =t(".request")
    %p
      =t(".new_password_follow_link", url: @url)
    %p
      =t(".have_a_great_day")
