- title t(".title")
.row
  .span12
    %h1.conversation-title= t(".conversation_about", itinerary_link: link_to(@itinerary, itinerary_path(@itinerary)), user_link: link_to(@itinerary.user, user_path(@itinerary.user))).html_safe
    = render "conversation"
    %hr
    = render "form"
