%li
  = link_to "{{url}}" do
    .popover-element-avatar
      %img{ src:"{{message.sender.profile_picture}}", width: 50, height: 50, alt: "" }
    .popover-element-content
      %strong.text-overflow
        {{message.sender.name}}
      %span.text-overflow
        {{message.body}}
      %p
        %small.text-muted
          {{localize "datetime.formats.message" message.date_sent}}
