.alert.alert-dismissible.alert-info.alert--advertising.fade.show role='alert'
  button.btn-close type='button' data-bs-dismiss='alert' aria-label=t('close')
  h2.h5.alert-heading = t('.enterprises')
  = t('.contact_us_html')
