.modal.fade.in.hide#why-facebook
  .modal-header
    %button.close{ type: 'button', data: { dismiss: 'modal' } } &times;
    %h3= t('why_facebook')
  .modal-body
    %p
      Siamo consapevoli che qualcuno non utilizza Facebook oppure non concede volentieri i permessi alle applicazioni di terze parti.
    %p
      La creazione di un nuovo profilo, tuttavia, ti constringerebbe a risolvere un captcha, attendere la
      mail di attivazione, inserire dati anagrafici, caricare almeno una foto,
      scegliere un nome utente, ricordare una nuova password, ecc. Accedendo con Facebook è possibile evitare questa noiosa procedura.
    %p
      Inoltre è facile immaginare che l'identità personale per una applicazione come la nostra è fondamentale. Bisogna potersi fidare in qualche modo dei nuovi compagni di viaggio e Facebook permette una prima verifica tramite amici, amici di amici, foto caricate...
    %p
      Su Facebook, infine, possiamo evidenziare i compagni di viaggio più adatti a te grazie all'analisi degli interessi comuni.
    %p
      %i.icon-info-sign.icon-large
      %u
        %strong
          NOTA: Non posteremo mai nulla senza il tuo esplicito permesso.
  .modal-footer
    = link_to t('close'), '#', data: { dismiss: 'modal' }, class: 'btn'
