<div class="popover popover--notifications" role="tooltip">
  <div class="arrow"></div>
  <h3 class="popover-header"></h3>
  <div class="popover-body-loading">
    <div class="d-flex justify-content-center m-2">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">{{ translate "templates.loading" }}</span>
      </div>
    </div>
  </div>
  <div class="popover-body"></div>
  <div class="popover-footer">
    <a href="{{footer_url}}">{{footer_link_text}}</a>
  </div>
</div>
