.span6.itinerary-thumbnail.border-box
  .caption.itinerary-thumb-stroke{ style: "border-color: {{borderColor}}" }
    %table
      %tbody
        %tr
          %td.user-profile-picture.verified
            .img-outset
              %img{ src: "{{user.profile_picture}}", width: 50, height: 50, alt: "" }
          %td
            %strong.it-title
              %a.pre-line{ href: "{{url}}" }><
                {{title}}
            %p.it-user
              {{#if user.nationality}}
              %i{ class: "flag-{{toLowerCase user.nationality}}" }
              {{/if}}
              {{user.name}}
              {{#if user.facebook_verified}}
              %i.icon-ok.text-success.facebook-verified-tooltip.inline-block{ rel: "tooltip", title: "{{translate \"templates.itineraries.facebook_verified\"}}" }
              {{/if}}
    %p.itinerary-details
      {{#if pink}}
      %span.text-pink
        %i.icon-lock
        = Itinerary.human_attribute_name(:pink)
      %br
      {{/if}}
      {{#if daily}}
      %br
      %i.icon-repeat
      {{translate "mongoid.attributes.itinerary.daily"}}
      %i.icon-time
      {{localize "time.formats.time_only" leave_date}}
      {{else}}
      {{translate "mongoid.attributes.itinerary.leave_date"}}:
      {{localize "date.formats.long" leave_date}}
      %i.icon-time
      {{localize "time.formats.time_only" leave_date}}
      {{#if round_trip}}
      %br
      {{translate "mongoid.attributes.itinerary.return_date"}}:
      {{localize "date.formats.long" return_date}}
      %i.icon-time
      {{localize "time.formats.time_only" return_date}}
      {{/if}}
      {{/if}}
      %br
      {{translate "mongoid.attributes.itinerary.fuel_cost"}}:
      {{fuel_cost}}.00 &euro;
      %br
      {{translate "mongoid.attributes.itinerary.tolls"}}:
      {{tolls}}.00 &euro;
    .btn-toolbar
      %a.btn.btn-mini.show-itinerary-on-map{ href: "#", data: { id: "{{id}}" } }
        {{translate "templates.itineraries.show_on_map"}}
      %a.btn.btn-mini.btn-primary{ href: "{{url}}" }
        {{translate "templates.itineraries.read_more"}}
