.tag-list {
  margin-left: -5px;

  @include clearfix();

  .tag {
    display: block;
    float: left;
    padding: $input-btn-padding-y-sm $input-btn-padding-x-sm;
    margin: 0 0 12px 5px;
    background-color: $gray-200;

    &.tag-sm {
      padding: $input-btn-padding-y-sm $input-btn-padding-x-sm;
      font-size: $small-font-size;
    }

    &.tag-mutual-friend {
      position: relative;
      padding-left: 34px;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 28px;
        height: 28px;
      }
    }

    &.tag-clear,
    &.tag-icare {
      clear: left;
    }

    &.tag-allowed,
    &.tag-common,
    &.tag-forbidden,
    &.tag-icare,
    &.tag-pink {
      color: #fff;
    }

    &.tag-allowed,
    &.tag-common {
      background-color: $success;
    }

    &.tag-forbidden {
      background-color: $danger;
    }

    &.tag-icare {
      background-color: $info;
    }

    &.tag-pink {
      background-color: $pink;
    }
  }
}
