# frozen_string_literal: true

# Copy this file to `local.rb`.
# `local.rb` will not be committed to the git repository, and can be used to
# store sensitive data or machine-specific configuration for local development.

SimpleConfig.for :application do
  set :google_maps_api_key, 'GOOGLE_MAPS_API_KEY'

  group :facebook do
    set :namespace, 'NAMESPACE'
    set :app_id, 'FACEBOOK_APP_ID'
    set :secret, 'FACEBOOK_SECRET'
  end
end
