# Rename this file to site.rb
# This file is for site specific configuration, do not store senesitive data in here. 

SimpleConfig.for :application do
  set :app_name, 'icare'
  set :repository_url, 'http://github.com/diowa/icare'

  set :demo_mode, false
  set :base_url, 'localhost:3000'

  set :currency, '.00 €'
  set :fuel_consumption, 0.12
  set :fuel_currency, '€'

  set :costs_calculation_service_link, 'http://servizi.aci.it/CKInternet/'

  group :map do
    # defaults to Italy
    set :center, '41.87194, 12.567379999999957'
    set :zoom, 8
    group :bounds do
      set :sw, '35.49292010, 6.62672010'
      set :ne, '47.0920, 18.52050150'
    end
  end

  group :itineraries do
    # Enable this option if you want to restrict itineraries inside a geographic area
    set :geo_restricted, false
    group :bounds do
      # Island of Ischia
      set :sw, [40.69205729999999, 13.850980400000026]
      set :ne, [40.7615088, 13.966879699999936]
    end
  end
end
