@import "twbs-variables";
@import "twbs/bootstrap/mixins";

select.date-time {
  display: inline-block;
  width: auto;
}

input[type=text] {
  @include text-overflow;
}

.collapse-link {
  display: inline-block;
  margin-bottom: 15px;

  .fa,
  .fab {
    transition: all .25s ease-in-out;
  }

  &.collapsed {
    .fa,
    .fab {
      transform: rotateZ(-90deg);
    }
  }
}

.input-group-number {
  max-width: 200px;

  input {
    text-align: right;
  }
}

.fuel-help {
  margin-top: -10px;
  margin-bottom: 15px;
}
