@import "twbs-variables";
@import "twbs/bootstrap/mixins";

select.date-time {
  display: inline-block;
  width: auto;
}

input[type=text] {
  @include text-overflow;
}

.input-group-number {
  max-width: 200px;

  input {
    text-align: right;
  }
}

#wizard-step-2-content,
#wizard-prev-step-button,
#new_itinerary_submit {
  display: none;
}
