@import "stubs/variables_overrides.css.less";
@import "twitter/bootstrap/mixins";

.home-page-body {
  padding-top: 0 !important;
}

#home-top-section {
  position: relative;
  height: 500px;
  margin-bottom: 40px;
  .box-shadow(0 3px 3px fade(@black, 15%));
}

.learn-more-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.btn-learn-more {
  margin-left: auto;
  margin-right: auto;
  .border-bottom-left-radius(0);
  .border-bottom-right-radius(0);
  border-bottom: none;
}

#home-top-section-background {
  position: absolute;
  overflow: hidden;
  .size(500px, 100%);
  background: @grayDarker;

  img {
    min-height: 500px;
    min-width: 100%;
    height: auto;
  }

  &:before {
    position: absolute;
    content: '';
    .square(100%);
    background: fade(@black, 40%);
  }
}

#home-top-section-container {
  position: relative;
  z-index: 1;
  padding: 100px 0 0;

  h1,
  small,
  h2,
  p,
  a:not([class^=btn]) {
    color: @white;
    text-shadow: 0 1px 1px fade(@black, 45%);
  }

  h1,
  h2 {
    margin: 0;
    color: @white;
  }

  h1 {
    line-height: 90px;
    font-size: 70px;
  }

  h2 {
    margin-bottom: @baseLineHeight;
    line-height: 46px;
    font-size: 36px;
    letter-spacing: -1px;
  }

  a:not([class^=btn]) {
    font-weight: bold;
    text-decoration: underline;
  }
}

.signin-terms {
  line-height: 18px;
  font-size: 12px;
  margin-top: @baseLineHeight / 2;
}

#home-middle-section {
  h3 {
    font-weight: normal;
    font-size: 26px;
    color: @grayDark;
    margin-bottom: @baseLineHeight /2;
  }
  .lead {
    line-height: 30px;
    font-size: 22px;
    margin-bottom: 40px;
  }
}

.home-description {
  position: relative;
  display: table;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -1px;
  color: #999;
  text-transform: uppercase;
  margin-bottom: 40px;
  white-space: pre;

  &::before,
  &:after {
    position: absolute;
    display: table-cell;
    width: 100%;
    content: '';
    border-bottom: 1px solid gray;
  }
}


.home-description-line {
  position: absolute;
  width: 100%;
  margin-top: 15px;
  border: 1px solid #999;
}

.home-description-text {
  display: inline-block;
  position: relative;
  padding: 0 20px;
  background: @bodyBackground;
}

.home-icon-responsive(@multiplier: 5) {
  @icon-size: @baseFontSize * @multiplier;
  .square(@icon-size + 6px * @multiplier);
  margin: 4px;

  i {
    top: 3px * @multiplier;
    .square(@icon-size);
    line-height: @icon-size;
    font-size: @icon-size;
  }

  &::after {
    .square(@icon-size + 6px * @multiplier + 12px);
  }
}

.home-icon {
  .home-icon-responsive();
  position: relative;
  display: inline-block;
  border: 4px solid @headerColor;
  .border-radius(100%);
  text-align: center;
  color: @headerColor;
  background: white;

  i {
    position: relative;
  }

  &::after {
    position: absolute;
    z-index: -1;
    display: block;
    top: -8px;
    left: -8px;
    .border-radius(100%);
    border: 2px solid lighten(@headerColor, 0%);
    content: '';
    background: @grayLighter;
  }
}

.home-paragraph {
  margin-bottom: 20px;
  padding: 0 20px;
  font-size: 18px;
  line-height: 24px;
  color: @gray;
  text-align: left;
}

#home-text-snippets {
  h3 {
    margin: 0;
  }
}

@media(min-width: 768px) {
  .ribbon-container {
    text-align: center;
  }

  .ribbon {
    position: relative;
    display: inline-block;
    font-size: 16px !important;
    /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */
    background: @icareMainColor;
    .box-shadow(0 1px 1px fade(@black, 25%));

    h2 {
      color: @white;
      text-shadow: 0 -1px 0 fade(@black, 25%);
      margin: 0;
    }

    padding: 6px 2em; /* Adjust to suit */
    margin: 1em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */

    &:before,
    &:after {
      z-index: -1;
      position: absolute;
      display: block;
      bottom: -1em;
      border: 1.5em solid darken(@icareMainColor, 2%);
      content: "";
      .box-shadow(0 1px 0 fade(@black, 25%));
    }

    &:before {
      left: -2em;
      border-right-width: 1.5em;
      border-left-color: transparent;
    }

    &:after {
      right: -2em;
      border-left-width: 1.5em;
      border-right-color: transparent;
    }

    .ribbon-content:before,
    .ribbon-content:after {
      position: absolute;
      display: block;
      bottom: -1em;
      border-style: solid;
      border-color: darken(@icareMainColor, 5%) transparent transparent transparent;
      content: "";
    }

    .ribbon-content:before {
      left: 0;
      border-width: 1em 0 0 1em;
      .box-shadow(1px 0 0 fade(@black, 25%));
    }

    .ribbon-content:after {
      right: 0;
      border-width: 1em 1em 0 0;
      .box-shadow(-1px 0 0 fade(@black, 25%));
    }
  }
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 767px) {
  #home-top-section {
    height: 320px;
    margin-left: -20px;
    margin-right: -20px;
  }

  #home-top-section-background {
    height: 320px;

    img {
      min-height: 320px;
    }
  }

  #home-top-section-container {
    padding: 40px 40px 0;

    h1 {
      line-height: 58px;
      font-size: 40px;
    }

    h2 {
      line-height: 24px;
      font-size: 24px;
      margin-bottom: @baseLineHeight / 2;
    }
  }

  #learn-more .lead {
    line-height: 20px;
    font-size: 16px;
  }

  #home-text-snippets {
    .home-icon,
    h3 {
      display: inline-block;
    }

    h3 {
      position: relative;
      top: 4px;
    }

    .home-icon {
      .home-icon-responsive(2);
    }
  }
}

@media(min-width: 768px) {
  #learn-more {
    .lead {
      text-align: center;
    }
  }
  #home-text-snippets {
    text-align: center;
  }
}

@media (max-width: 360px) {
  #home-top-section-container {
    padding: 10px 20px 0;
  }
}

@media (min-width: 1200px) {
  #home-top-section {
    height: 640px;
  }

  #home-top-section-background {
    height: 640px;

    img {
      min-height: 640px;
    }
  }

  #home-top-section-container {
    padding-top: 150px;
  }
}