@import "twbs-variables";
@import "twbs/bootstrap/mixins";

body {
  padding-top: $navbar-height + 10px;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  letter-spacing: -1px;
}

h4, .h4,
h5, .h5,
h6, .h6 {
  letter-spacing: 0;
}

.diowa-logo {
  position: relative;
  display: inline-block;
  top: -1px;
  margin-right: 3px;
  @include size(90px, 28px);
  background: asset-data-url("diowa.svg") no-repeat;
  background-size: 90px 28px;
  line-height: 1px;
}

.facebook-bg {
  background-color: $brand-facebook;
}

.facebook-color {
  color: $brand-facebook;
}

.heading-margins {
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed / 2;
}

.pacifico {
  font-family: "Pacifico";
  font-weight: 400;
}

.no-margin {
  margin: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.text-overflow {
  @include text-overflow;
}

.vertical-align-middle td {
  vertical-align: middle !important;
}

.pre-line {
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
}

.mock {
  @include opacity(0.6);
}

.balloon {
  position: relative;
  display: inline-block;
  width: 100%;
  border: 1px solid #dddddd;
  padding: 8px 10px;
  background-color: white;
  box-shadow: 0 1px 1px fade-out(black, 0.925);
  &:after, &:before {
    position: absolute;
    right: 100%;
    top: 50%;
    @include square(0);
    border: solid transparent;
    content: " ";
    pointer-events: none;
  }
  &:after {
    border-width: 8px;
    border-right-color: white;
    margin-top: -8px;
  }
  &:before {
    border-width: 9px;
    border-right-color: #dddddd;
    margin-top: -9px;
  }
  &.for-profile-picture {
    min-height: 60 - $line-height-computed;
    margin-left: 5px;
    &:after,
    &:before {
      top: 25px;
    }
  }
}

.img-outset {
  display: inline-block;
  position: relative;
  &:before {
    position: absolute;
    @include square(100%);
    border: 1px solid fade-out(black, 0.9);
    content: "";
  }
}

.img-outset-dark:before {
  border: 1px solid fade-out(black, 0.5);
}

.btn-checkbox {
  margin-bottom: $line-height-computed / 2 !important;
  user-select: none;
  span.fa {
    width: 1em;
    text-align: left;
  }
  input[type=checkbox] {
    position: absolute !important;
    left: -9999px !important;
    &:checked ~ span.check:before {
      content: "\f046";
    }
  }
}

.div-table {
  display: table;
  width: auto;
}

.div-table-cell {
  display: table-cell;
  vertical-align: top;
  text-align: left;
}

.btn-fb {
  @include button-variant(white, $brand-facebook, darken($brand-facebook, 5%));
}

.btn-pink {
  @include button-variant(white, $pink, $pink);
}

.text-pink {
  color: $pink;
}

@media (min-width: $screen-sm-min) {
  .display-table-sm {
    display: table;
    width: 100%;
  }
  .display-table-cell-sm {
    display: table-cell;
  }
  .text-center-sm {
    text-align: center;
  }
  .text-right-sm {
    text-align: right;
  }
  .pull-right-sm {
    float: right;
  }
}
