@import "twbs-variables";
@import "twbs/bootstrap/mixins";

body {
  padding-top: $navbar-height + 10px;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  letter-spacing: -1px;
}

h4, .h4,
h5, .h5,
h6, .h6 {
  letter-spacing: 0;
}

.diowa-logo {
  position: relative;
  top: -1px;
  display: inline-block;
  @include size(90px, 28px);
  line-height: 1px;
  vertical-align: middle;
}

.facebook-bg {
  background-color: $brand-facebook;
}

.facebook-color {
  color: $brand-facebook;
}

.heading-margins {
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed / 2;
}

.pacifico {
  font-family: "Pacifico";
  font-weight: 400;
}

.no-margin {
  margin: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.soft-hide {
  display: none;
}

.text-overflow {
  @include text-overflow;
}

// scss-lint:disable ImportantRule
.vertical-align-middle td {
  vertical-align: middle !important;
}
// scss-lint:enable ImportantRule

.pre-line {
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.mock {
  @include opacity(.6);
}

.balloon {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 8px 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 1px 1px fade-out(#000, .925);

  &::after, &::before {
    position: absolute;
    top: 50%;
    right: 100%;
    pointer-events: none;
    @include square(0);
    content: " ";
    border: solid transparent;
  }

  &::after {
    margin-top: -8px;
    border-width: 8px;
    border-right-color: #fff;
  }

  &::before {
    margin-top: -9px;
    border-width: 9px;
    border-right-color: #ddd;
  }

  &.for-profile-picture {
    min-height: 60 - $line-height-computed;
    margin-left: 5px;

    &::after,
    &::before {
      top: 25px;
    }
  }
}

.img-outset {
  position: relative;
  display: inline-block;

  &::before {
    position: absolute;
    @include square(100%);
    content: "";
    border: 1px solid fade-out(#000, .9);
  }
}

.img-outset-dark::before {
  border: 1px solid fade-out(#000, .5);
}

// scss-lint:disable ImportantRule
.btn-checkbox {
  margin-bottom: ($line-height-computed / 2);
  user-select: none;

  span.fa {
    width: 1em;
    text-align: left;
  }

  input[type=checkbox] {
    position: absolute !important;
    left: -9999px !important;

    &:checked ~ span.check::before {
      content: "\f046";
    }
  }
}
// scss-lint:enable ImportantRule

.div-table {
  display: table;
  width: auto;
}

.div-table-cell {
  display: table-cell;
  text-align: left;
  vertical-align: top;
}

.btn-fb {
  @include button-variant(#fff, $brand-facebook, darken($brand-facebook, 5%));
}

.btn-pink {
  @include button-variant(#fff, $pink, $pink);
}

.text-pink {
  color: $pink;
}

@media (min-width: $screen-sm-min) {
  .display-table-sm {
    display: table;
    width: 100%;
  }

  .display-table-cell-sm {
    display: table-cell;
  }

  .text-center-sm {
    text-align: center;
  }

  .text-right-sm {
    text-align: right;
  }

  .pull-right-sm {
    float: right;
  }
}
