@import "twbs-variables";
@import "twbs/bootstrap/mixins";

#daily-itinerary-table {
  td {
    vertical-align: middle;
  }
  select {
    margin-bottom: 0;
  }
}

#itinerary-preview {
  background-color: $brand-warning;
}

#itineraries-spinner {
  display: none;
  margin-left: 10px;
}

#search-form-advanced {
  font-size: $font-size-small;
  .checkbox {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  input[type="radio"],
  input[type="checkbox"] {
    margin-top: 2px;
  }
}

#user-media {
  margin-bottom: 20px;
}

.itinerary-header {
  margin-bottom: 20px;
}

.itinerary-step {
  border-bottom: 1px solid $gray-light;
  margin-bottom: 20px;
  h3 {
    color: $gray-light;
  }
  &.active,
  &.active h3 {
    color: $headings-color;
    border-color: $headings-color;
  }
  &.done,
  &.done h3 {
    color: $brand-success;
    border-color: $brand-success;
  }
}

.itinerary-thumbnail {
  display: block;
  padding: 4px;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
  border-radius: $border-radius-base;
  box-shadow: 0 1px 1px fade-out(black, 0.925);
  background-color: white;
  .btn-toolbar {
    text-align: right;
    margin: 0;
  }
  .media {
    margin-top: 0;
  }
}

.itinerary-thumb-stroke {
  height: 5px;
  margin-bottom: 5px;
  background-color: red;
  border-radius: $border-radius-small;
}

.itinerary-title {
  margin: 0;
  small,
  span {
    display: block;
  }
  small {
    font-size: $font-size-base * 1.25;
  }
  span {
    line-height: $line-height-computed * 1.5;
    font-size: $font-size-base * 1.75;
  }
}

.profile-picture-cell {
  width: 55px;
  img {
    @include square(50px);
    background-color: white;
  }
}

@media (min-width: $screen-lg-min) {
  .itinerary-thumbnail {
    position: relative;
    height: 205px;
    overflow: hidden;
    .btn-toolbar {
      position: absolute;
      bottom: 5px;
      right: 5px;
    }
  }
}
