@import "twbs-variables";
@import "twbs/bootstrap/mixins";

.daily-itinerary-table {
  td {
    vertical-align: middle;
  }

  select {
    margin-bottom: 0;
  }
}

.itineraries-spinner {
  display: none;
  margin-left: 10px;
}

.search-form-advanced {
  font-size: $font-size-small;

  .checkbox {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  input[type="radio"],
  input[type="checkbox"] {
    margin-top: 2px;
  }
}

.user-media {
  margin-bottom: 20px;
}

.itinerary-header {
  margin-bottom: 20px;
}

.itinerary-step {
  margin-bottom: 20px;
  border-bottom: 1px solid $gray-light;

  h3 {
    color: $gray-light;
  }

  &.active,
  &.active h3 {
    color: $headings-color;
    border-color: $headings-color;
  }

  &.done,
  &.done h3 {
    color: $brand-success;
    border-color: $brand-success;
  }
}

.itinerary-thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: $border-radius-base;
  box-shadow: 0 1px 1px fade-out(#000, .925);

  .btn-toolbar {
    margin: 0;
    text-align: right;
  }

  .media {
    margin-top: 0;
  }
}

.itinerary-thumb-stroke {
  height: 5px;
  margin-bottom: 5px;
  border-radius: $border-radius-small;
}

.itinerary-title {
  margin: 0;

  small,
  span {
    display: block;
  }

  small {
    font-size: $font-size-base * 1.25;
  }

  span {
    font-size: $font-size-base * 1.75;
    line-height: $line-height-computed * 1.5;
  }
}

.profile-picture-cell {
  width: 55px;

  img {
    @include square(50px);
    background-color: #fff;
  }
}

.feature-icons {
  margin-left: -5px;
}

.feature-icon {
  margin-left: 5px;
}

@media (min-width: $screen-lg-min) {
  .itinerary-thumbnail {
    position: relative;
    height: 205px;
    overflow: hidden;

    .btn-toolbar {
      position: absolute;
      right: 5px;
      bottom: 5px;
    }
  }
}
