@import "twbs-variables";
@import "twbs/bootstrap/mixins";

.google-maps {
  @include size(100%, 300px);

  label {
    display: inline-block;
    width: auto;
  }

  img {
    max-width: none;
  }
}

.google-static-map,
.google-maps {
  margin-bottom: $line-height-computed;
  border: 1px solid #ddd;
}

#error,
#result {
  display: none;
}

.gmaps-popup-image,
.gmaps-popup-text {
  display: table-cell;
}

.gmaps-popup-image {
  padding-right: 10px;

  img {
    display: block;
    @include square(50px);
  }
}

.gmaps-popup-text {
  font-size: $font-size-small;
  vertical-align: top;
}

.gmaps-popup-p-content {
  margin: 0;
  color: #666;
}

.gmaps-popup-div-details {
  margin: 10px 0 0;

  span {
    display: inline-block;
    margin-right: 12px;
    text-align: center;
  }
}

.arrow-box {
  display: block;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid $gray-light;
  box-shadow: 1px 1px 1px fade-out(#000, .8);

  img {
    position: relative;
    top: 1px;
    left: 1px;
  }

  &::after,
  &::before {
    position: absolute;
    top: 100%;
    pointer-events: none;
    @include square(0);
    content: " ";
    border: solid transparent;
  }

  &::after {
    left: 50%;
    margin-left: -4px;
    border-width: 4px;
    border-top-color: #fff;
  }

  &::before {
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-top-color: $gray-light;
  }
}
