.main-navbar {
  @extend .navbar-light;
  @extend .bg-light;
  @extend .navbar-expand-md;
  @extend .fixed-top;

  .navbar-toggler {
    border-color: transparent;
  }
}

.main-navbar-nav {
  @extend .ml-auto;
}

.nav-link--profile {
  position: relative;

  img {
    position: absolute;
    top: 7px;
    width: 26px;
    height: 26px;
    border-radius: $border-radius-sm;
  }
}

.nav-link__user-name {
  margin-left: 30px;
}

.navbar-brand {
  font-family: "Pacifico";
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25rem;

  > img {
    position: relative;
    top: 4px;
    display: inline-block;
    width: 38px;
    height: 15px;
    vertical-align: top;
  }
}

.main-navbar .navbar-nav > li.facebook-link > a {
  color: #fff;
  background-color: $brand-facebook;

  &:hover,
  &:focus {
    background-color: darken($brand-facebook, 5%);
  }
}

.navbar-toggle {
  .icon-bar {
    // same duration as bootstrap's collapse
    transition: all .35s ease-in-out;
    backface-visibility: hidden;
  }

  .icon-bar--top {
    transform: rotate3d(0, 0, 1, 45deg);
    transform-origin: 17% 200%;
  }

  .icon-bar--middle {
    transform: rotate3d(0, 1, 0, 90deg);
  }

  .icon-bar--bottom {
    transform: rotate3d(0, 0, 1, -45deg);
    transform-origin: 17% -100%;
  }

  &.collapsed {
    .icon-bar {
      transform: rotate3d(0, 0, 0, 0deg);
    }
  }
}
