@import "twbs-variables";
@import "twbs/bootstrap/mixins";

.navbar-profile-link {
  position: relative;

  img {
    position: absolute;
    top: 7px;
    left: 15px;
    @include square(26px);
    border-radius: $border-radius-small;
  }

  span {
    margin-left: 35px;
  }
}

.navbar-brand {
  font-family: "Pacifico";
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;

  > img {
    position: relative;
    top: 4px;
    display: inline-block;
    @include size(38px, 15px);
    vertical-align: top;
  }
}

.navbar-default .navbar-nav > li.facebook-link > a {
  color: #fff;
  background-color: $brand-facebook;

  &:hover,
  &:focus {
    background-color: darken($brand-facebook, 5%);
  }
}

.navbar-toggle {
  .icon-bar {
    // same duration as bootstrap's collapse
    transition: all .35s ease-in-out;
    backface-visibility: hidden;
  }

  .icon-bar--top {
    transform: rotate3d(0, 0, 1, 45deg);
    transform-origin: 17% 200%;
  }

  .icon-bar--middle {
    transform: rotate3d(0, 1, 0, 90deg);
  }

  .icon-bar--bottom {
    transform: rotate3d(0, 0, 1, -45deg);
    transform-origin: 17% -100%;
  }

  &.collapsed {
    .icon-bar {
      transform: rotate3d(0, 0, 0, 0deg);
    }
  }
}

.navbar-default .navbar-collapse {
  border-color: transparent;
}

@media (min-width: $grid-float-breakpoint) {
  .navbar-default {
    background-color: fade-out($navbar-default-bg, .1);
  }
}
