@import "twbs-variables";
@import "twbs/bootstrap/mixins";

#navbar-user-info {
  .navbar-profile-link {
    position: relative;
    img {
      position: absolute;
      top: 7px;
      left: 15px;
      @include square(26px);
      border-radius: $border-radius-small;
    }
    span {
      margin-left: 35px;
    }
  }
}

.navbar-brand {
  font-family: "Pacifico";
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}

.navbar-brand-logo {
  position: relative;
  top: 4px;
  display: inline-block !important;
  @include size(38px, 15px);
  vertical-align: top;
}

.navbar-default .navbar-nav > li.facebook-link > a {
  color: #fff;
  background-color: $brand-facebook;
  &:hover,
  &:focus {
    background-color: darken($brand-facebook, 5%);
  }
}

@media (min-width: $grid-float-breakpoint) {
  .navbar-default {
    background-color: fade-out($navbar-default-bg, .1);
  }
}
