@import "stubs/variables_overrides.css.less";
@import "twitter/bootstrap/mixins";

.transform {
  position: absolute;
  display: block;
  padding-left: 60px;
  padding-right: 40px;
  background: rgba(0, 0, 0, 0.4);

  @media (max-width: 767px) {
    top: 10px;
    left: 0;
  }

  @media (min-width: 768px) {
    top: -12px;
    left: -38px;
    min-width: 320px;
    .rotate(-16deg);
  }

  h1 {
    color: @white;
    padding-bottom: 10px;
    text-shadow: 2px 2px 1px @black;
    line-height: 30px;

    small {
      color: @grayLighter;
    }
  }
}

#home-hero {
  position: relative;
  overflow: hidden;
  background: @grayLight url('/assets/home-bg3.jpg'); /* http://www.flickr.com/photos/daquellamanera/166284715/ or http://www.flickr.com/photos/stevenfernandez/2816184724/sizes/o/in/photostream/ */
  min-height: 200px;
  .box-shadow(inset 0 0 50px fade(@black, 45%));

  .tagline {
    position: relative;
    margin-bottom: 18px;
    line-height: 26px;
    font-size: 24px;
    color: @white;
    text-shadow: 1px 1px 1px @black;
  }

  @media (max-width: 767px) {
    .background-size(auto 125%);
    .tagline {
      margin-top: 18px;
    }
  }

  @media (min-width: 768px) {
    .background-size(1170px auto);
    .tagline {
      top: -20px;
      margin-left: 160px;
    }
  }

  .white-container {
    padding: 5px;
    background: fade(@white, 50%);
    .box-shadow(1px 1px 2px fade(@black, 25%));
  }
}

.home-hero-logo {
  position: relative;
  display: inline-block;
  top: 7px;
  .size(50px, 127px);
  vertical-align: top;
}

p.signin-terms {
  line-height: 18px;
  font-size: 12px;
}

.fb-facepile {
  width: 100% !important;
  margin-bottom: 18px;
  .box-sizing(border-box);

  & > span,
  iframe {
    display: block;
    width: 100% !important;
    min-width: 100%;
    overflow: hidden;
    /* NOTE: 19px right offset, consider fixed width */
  }

  iframe {
    height: auto !important;
  }
}

#home-picture {
  max-width: 300px;
  padding: 0 20px 40px 0;
  .rotate(-3deg);

  .thumbnail {
    background-position: center;
    .box-shadow(3px 3px 3px fade(@black, 25%));
  }

  img {
    .transition(opacity .2s ease-in);
    .opacity(80);
    &:hover {
      .opacity(100);
    }
  }
}

.why-facebook {
  margin-left: 5px;
}

.home-text-snippets h2 {
  margin: 0;
  line-height: 34px;
  font-size: 26px;
}
