@import "twbs-variables";
@import "twbs/bootstrap/mixins";

$ribbon-color: $headings-color;

.ribbon-container {
  text-align: center;
}

.ribbon {
  position: relative;
  display: inline-block;
  margin: 1em auto 3em;
  font-family: "Pacifico";
  font-weight: 400;
  h2 {
    margin: 0;
    font-size: $font-size-h2;
    line-height: 1.6;
  }
}

@media (min-width: $screen-sm-min) {
  .ribbon {
    margin: 2em auto 5em;
    background-color: $ribbon-color;
    box-shadow: 0 1px 1px fade-out(black, 0.75);
    h2 {
      position: relative;
      top: -4px;
      font-size: $font-size-h1;
      color: white;
      text-shadow: -1px -1px 0 fade-out(black, 0.65);
    }
    padding: 6px 2em;
    &:before,
    &:after {
      z-index: -1;
      position: absolute;
      display: block;
      bottom: -1em;
      border: 1.9em solid darken($ribbon-color, 2%);
      content: "";
      box-shadow: 0 1px 0 fade-out(black, 0.75);
    }
    &:before {
      left: -2.8em;
      border-right-width: 3em;
      border-left-color: transparent;
    }
    &:after {
      right: -2.8em;
      border-left-width: 3em;
      border-right-color: transparent;
    }
  }
  .ribbon-content {
    &:before,
    &:after {
      position: absolute;
      display: block;
      bottom: -1em;
      border-style: solid;
      border-color: darken($ribbon-color, 15%) transparent transparent transparent;
      content: "";
    }
    &:before {
      left: 0;
      border-width: 1em 0 0 2em;
      box-shadow: 1px 0 0 fade-out(black, 0.75);
    }
    &:after {
      right: 0;
      border-width: 1em 2em 0 0;
      box-shadow: -1px 0 0 fade-out(black, 0.75);
    }
  }
}
