@import "twbs-variables";
@import "twbs/bootstrap/mixins";

#turbolinks-spinner {
  position: fixed;
  top: 0;
  z-index: $zindex-navbar-fixed + 1;
  display: none;
  @include square(100%);
  text-align: center;
  cursor: default;
  user-select: none;
}

#turbolinks-spinner-label {
  border: 1px solid transparent;
  @include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text);
  padding: $padding-small-vertical $padding-small-horizontal;
  font-weight: 700;
}
