/* Use twbs-variables to define new variables and override Bootstrap defaults.
 * Import "twbs-variables" instead of "twbs/bootstrap/variables"
 * in each new stylesheet.
 */
@import "twbs-variables";

/* ==========================================================================
   Bootstrap and overrides
   ========================================================================== */

// Core variables and mixins
@import "twbs/bootstrap/mixins";

// Reset
@import "twbs/bootstrap/normalize";
//@import "twbs/bootstrap/print";

// Core CSS
@import "twbs/bootstrap/scaffolding";
@import "twbs/bootstrap/type";
//@import "twbs/bootstrap/code";
@import "twbs/bootstrap/grid";
@import "twbs/bootstrap/tables";
@import "twbs/bootstrap/forms";
@import "twbs/bootstrap/buttons";

// Components
@import "twbs/bootstrap/component-animations";
@import "twbs/bootstrap/dropdowns";
@import "twbs/bootstrap/button-groups";
@import "twbs/bootstrap/input-groups";
@import "twbs/bootstrap/navs";
@import "twbs/bootstrap/navbar";
@import "twbs/bootstrap/breadcrumbs";
@import "twbs/bootstrap/pagination";
//@import "twbs/bootstrap/pager";
//@import "twbs/bootstrap/labels";
//@import "twbs/bootstrap/badges";
//@import "twbs/bootstrap/jumbotron";
//@import "twbs/bootstrap/thumbnails";
@import "twbs/bootstrap/alerts";
//@import "twbs/bootstrap/progress-bars";
@import "twbs/bootstrap/media";
//@import "twbs/bootstrap/list-group";
//@import "twbs/bootstrap/panels";
//@import "twbs/bootstrap/wells";
@import "twbs/bootstrap/close";

// Components w/ JavaScript
@import "twbs/bootstrap/modals";
@import "twbs/bootstrap/tooltip";
@import "twbs/bootstrap/popovers";
//@import "twbs/bootstrap/carousel";

// Utility classes
@import "twbs/bootstrap/utilities";
@import "twbs/bootstrap/responsive-utilities";


/* ==========================================================================
   Fixes
   ========================================================================== */

/* Text class fix */
th.text-right,
td.text-right {
  text-right: right;
}

.btn {
  box-shadow: inset 0 -3px 0 fade-out(black, 0.9);
  transition :background-color .35s ease, border-color .35s ease;
}

.btn-xs {
  box-shadow: inset 0 -2px 0 fade-out(black, 0.9);
}

.btn-link {
  box-shadow: none;
}

.lead {
  font-weight: 300;
}
