.facebook-verified {
  font-size: 1.2em;
  color: $success;
}

.user-blockquote {
  position: relative;
  padding: 0;
  border: 0;
}

.facebook-verified-blockquote {
  padding: 0 10px;
  font-size: $font-size-base;
  border-color: $success;
}
