// stylelint-disable selector-no-qualifying-type
select.date-time {
  display: inline-block;
  width: auto;
}

input[type="text"] {
  @include text-truncate();
}
// stylelint-enable selector-no-qualifying-type

.collapse-link {
  display: inline-block;
  margin-bottom: 15px;

  .icon--collapse {
    transition: all .25s ease-in-out;
  }

  &.collapsed {
    .icon--collapse {
      transform: rotateZ(-90deg);
    }
  }
}
