.reference {
  @extend .mb-4;
}

.balloon {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 8px 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: $border-radius;
  box-shadow: 0 1px 1px fade-out(#000, .925);

  &::after,
  &::before {
    position: absolute;
    top: 50%;
    right: 100%;
    width: 0;
    height: 0;
    pointer-events: none;
    content: " ";
    border: solid transparent;
  }

  &::after {
    margin-top: -8px;
    border-width: 8px;
    border-right-color: #fff;
  }

  &::before {
    margin-top: -9px;
    border-width: 9px;
    border-right-color: #ddd;
  }

  &.for-profile-picture {
    min-height: 60 - $line-height-base;
    margin-left: 5px;

    &::after,
    &::before {
      top: 25px;
    }
  }
}
